.footer {
  min-height: 50px;
  background-color: var(--color-primary);
  display: flex;
  width: 100vw;
  justify-content: end;
  padding: 1rem;
  color: var(--color-surface);

  .footer__impressum {
    font-size: 1.2rem;
    text-decoration: underline;
    display: flex;
    justify-content: end;
  }

  .footer__link {
    &:hover {
      color: var(--color-primary-container);
    }
  }
}
