@use "../basics" as *;

.homestage {
  position: relative;
  max-width: 100vw;

  @include breakpoint-up('md') {
    height: 100vh;
    max-height: 650px;
  }

  @include breakpoint-up('lg') {
    max-height: 750px;
  }

  @include breakpoint-up('xl') {
    width: 1440px;
    max-height: 900px;
  }

  .homestage__image {
    max-width: 100%;
    width: 100%;
    min-height: 56vh;
    object-fit: cover;
    height: 100%;

    @include breakpoint-up('md') {
      max-height: 100vh;
    }
  }

  .homestage-container {
    position: relative;
  }

  .homestage__headline {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    margin-bottom: 0;
    color: var(--color-brown);
    text-align: left;
    max-width: 10rem;
    line-height: 0.95;


    @media screen and (min-height: 600px){
      font-size: 3rem;
    }

    @media screen and (min-height: 700px){
      font-size: 3.5rem;
      bottom: 1.5rem;
      right: 2rem;
    }

    @include breakpoint-up('md') {
      right: 0;
      font-size: 4.5rem;
      margin-right: 9rem;
      max-width: 13rem;
      bottom: 2.5rem;

      @media screen and (min-height: 650px){
        font-size: 5.5rem;
      }
    }

    @include breakpoint-up('lg') {
      margin-right: 11rem;
      font-size: 5rem;
      bottom: 1.5rem;

      @media screen and (min-height: 650px){
        margin-right: 13rem;
        font-size: 6rem;
        bottom: 2rem;
      }

      @media screen and (min-height: 750px){
        margin-right: 14rem;
        font-size: 7rem;
        bottom: 3rem;
      }
    }

    @include breakpoint-up('xl') {
      margin-right: 18rem;
      bottom: 1rem;

      @media screen and (min-height: 650px){
        bottom: 2rem;
        font-size: 5.5rem;
      }

      @media screen and (min-height: 700px){
        bottom: 2.5rem;
        font-size: 6rem;
      }

      @media screen and (min-height: 750px){
        bottom: 3rem;
        font-size: 6.5rem;
        margin-right: 20rem;
      }

      @media screen and (min-height: 850px){
        bottom: 4rem;
        margin-right: 21rem;
        font-size: 7rem;
      }
    }
  }
}
