@use "../basics" as *;

.location {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;

  @include breakpoint-up("md") {
    flex-direction: row;
  }

  .location__deatils {
    display: flex;
    flex-direction: column;

    @include breakpoint-up("md") {
      width: 35%;
    }
  }
  .location__map {
    width: 100%;
    height: 20rem;
  }

  .location__heading {
    font-size: 2rem;
  }
  .location__adress {
    font-size: 1.3rem;
    list-style: none;
    padding-left: 0;
  }
}
