//https://material-foundation.github.io/material-theme-builder/
$colors-studio: (
  "primary": #523d42,
  "secondary": #675b5d,
  "tertiary": #523f31,
  "error": #ba1a1a,

  "primary-container": #6b5459,
  "secondary-container": #efdee1,
  "tertiary-container": #6b5647,
  "error-container": #ffdad6,

  "surface-dim": #dfd8d8,
  "surface": #fff8f8,
  "surface-bright": #fff8f8,

  "surface-container-lowest": #ffffff,
  "surface-container-low": #f9f2f2,
  "surface-container": #f3ecec,
  "surface-container-high": #ede7e6,
  "surface-container-highest": #e8e1e1,

  "inverse-surface": #333030,
  "inverse-on-surface": #f6efef,
  "inverse-primary": #ddbfc5,

  "shadow": #000000,
  "scrim": #000000,

  "on-surface": #1d1b1b,
  "on-surface-var": #4e4446,
  "outline": #807476,
  "outline-variant": #d2c3c5,

  "white": #ffffff,
  "black": #000000,
  "brown": #6B5459,
);

$dark-mode-colors-studio: (
  "primary": #ddbfc5,
  "secondary": #d3c3c5,
  "tertiary": #ddc1ae,
  "error": #ffb4ab,

  "primary-container": #6b5459,
  "secondary-container": #514648,
  "tertiary-container": #6b5647,
  "error-container": #93000a,

  "surface-dim": #151313,
  "surface": #151313,
  "surface-bright": #3c3839,

  "surface-container-lowest": #100e0e,
  "surface-container-low": #1d1b1b,
  "surface-container": #221f1f,
  "surface-container-high": #2c292a,
  "surface-container-highest": #373434,

  "inverse-surface": #e8e1e1,
  "inverse-on-surface": #333030,
  "inverse-primary": #70585d,

  "shadow": #000000,
  "scrim": #000000,

  "on-surface": #e8e1e1,
  "on-surface-var": #d2c3c5,
  "outline": #9a8e8f,
  "outline-variant": #4e4446,

  "white": #ffffff,
  "black": #000000,
  "brown": #6B5459,
);

// Generating CSS Variables

:root {
  @each $key, $value in $colors-studio {
    --color-#{$key}: #{$value};
  }
}

.dark-mode {
  @each $key, $value in $dark-mode-colors-studio {
    --color-#{$key}: #{$value};
  }
}
