@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: "Standard";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Roboto_Condensed-Regular.ttf");
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Roboto_Condensed-Bold.ttf");
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
