i.icn {
  position: relative;
  display: inline-block;
  font-size: inherit;
  width: 1.5em;
  height: 1.5em;
  margin-block: -0.4em;
  line-height: inherit;
}

i.icn::before {
  position: absolute;
  display: block;
  content: "";
  left: 15%;
  top: 15%;
  width: 70%;
  height: 70%;
  mask-size: contain;
  mask-position: center;
  background-color: currentcolor;
  mask-repeat: no-repeat;
  transform: translateY(-2%);
}

/* ❗️ Iconpath must be set in html head */
$base: "/src/assets/icons/";
$icons: ("burger");

@each $icon in $icons {
  i.icn--#{$icon}:before {
    mask-image: url("#{$base}#{$icon}.svg");
  }
}
